DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=gm_gestor_proyectos
DB_USER=REPLACE_WITH_DB_USER
DB_PASSWORD=REPLACE_WITH_DB_PASSWORD
DB_HOST=REPLACE_WITH_DB_HOST
DB_PORT=3306
DB_SSL_MODE=REQUIRED